body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/aged_antique_certificate.jpg); /* from http://all-free-download.com/free-photos/download/aged_antique_certificate_269453_download.html*/
}

a {
  color: #00B7FF;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.smaller-panel{
  height: 100%;
}
@keyframes flip{
  0%{transform: rotate3d(0,1,0,0deg);}
  50%{transform: rotate3d(0,1,0,180deg);}
  100%{transform: rotate3d(0,1,0,0deg);}
}

.panel-flip{
  transform: rotate3d(0,1,0,0deg);
  animation-name: flip;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.69,.09,.32,.72) ;
}
